{% extends 'base.html.twig' %}

{% block title %}  Edit Profile User {% endblock %}

{% block body %}
   <div class="container">
       <h1>Edit Your Profile </h1>

       {{ form_start(form) }}
       {{ form_widget(form) }}

       <button type="submit" class="btn btn-primary">Confirm Edit Profile</button>

       {{ form_end(form) }}
   </div>


{% endblock %}