{% extends 'base.html.twig' %}

  {% block title %}
    welcome to the best apartment network 
  {% endblock %}

 {% block body %}
<div class="container mt-3">
    <div class="jumbotron">
        <h1 class="display-3">Hello, in Sym BNB !</h1>
        <p class="lead">WE put in relation travelers and owners who want to take advantage of opportunity and earn money by offering their rental property.</p>
        <hr class="my-4">
        <p>Are you a traveler? and you want to see where you can stay for your next trip ?</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">See our Ads</a>
        </p>
    </div>


    <h2 class="h1 mt-3 mb-4">Our star apartments</h2>
      <div class="row">
         <div class="col-md-4">
            <div class="card bg-light mb-3">
              <div class="card-header text-center">
                3 Rooms, <strong>49&euro; / per night </strong><br>
                <small>NOT rated yet</small>
              </div>

              <img src="http://placehold.it/1000X400" alt="Picture of Appartment" style="height: 200px ; width:100% ; display:block">

              <div class="card-body">
                 <h4 class="card-title">Appartment of Ouf !!</h4>
                 <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta in nihil, dolore aut voluptatum natus dolores explicabo atque hic amet ipsam animi illum optio ea ut, nesciunt necessitatibus vero autem!</p>
                 <a href="#" class="btn btn-secondary">Learn More</a>
              </div>
            </div>
         </div>
         <div class="col-md-4">
            <div class="card bg-light mb-3">
              <div class="card-header text-center">
                3 Rooms, <strong>49&euro; / per night </strong><br>
                <small>NOT rated yet</small>
              </div>

              <img src="http://placehold.it/1000X400" alt="Picture of Appartment" style="height: 200px ; width:100% ; display:block">

              <div class="card-body">
                 <h4 class="card-title">Appartment of Ouf !!</h4>
                 <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta in nihil, dolore aut voluptatum natus dolores explicabo atque hic amet ipsam animi illum optio ea ut, nesciunt necessitatibus vero autem!</p>
                 <a href="#" class="btn btn-secondary">Learn More</a>
              </div>
            </div>
         </div>
         <div class="col-md-4">
            <div class="card bg-light mb-3">
              <div class="card-header text-center">
                3 Rooms, <strong>49&euro; / per night </strong><br>
                <small>NOT rated yet</small>
              </div>

              <img src="http://placehold.it/1000X400" alt="Picture of Appartment" style="height: 200px ; width:100% ; display:block">

              <div class="card-body">
                 <h4 class="card-title">Appartment of Ouf !!</h4>
                 <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta in nihil, dolore aut voluptatum natus dolores explicabo atque hic amet ipsam animi illum optio ea ut, nesciunt necessitatibus vero autem!</p>
                 <a href="#" class="btn btn-secondary">Learn More</a>
              </div>
            </div>
         </div>
      </div>

      <h2 class="h1 mt-3 mb-4">Our Star Owners</h2>
      <div class="row">
         <div class="col">
           <div class="card border-secondary mb-3">
              <div class="card-body">
                 <h4 class="card-title">Mohamed Hermi</h4>
                  <hr>
              
             

              <div class="card-text">
                  <img src="http://placehold.it/64X64" alt="Avatar de Med Hermi" class="float-left mr-3">
                  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam, illum!</p>
                  <a href="#" class="btn btn-success float-right">Learn More !</a>
              </div>
            </div>
           </div>
         </div>
         <div class="col">
           <div class="card border-secondary mb-3">
              <div class="card-body">
                 <h4 class="card-title">Mohamed Hermi</h4>
              
              <hr>

              <div class="card-text">
                  <img src="http://placehold.it/64X64" alt="Avatar de Med Hermi" class="float-left mr-3">
                  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam, illum!</p>
                  <a href="#" class="btn btn-success float-right">Learn More !</a>
              </div>
            </div>
           </div>
         </div>
      </div>
</div>
 {% endblock %}
